:root{
    font-family: 'Raleway', sans-serif;
}

.produtos-topo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 90%;
    margin: 2em auto;
    
}

.produtos-topo-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 88%;
}

.produtos-titulo{
    font-weight: 700;
    color: #464646;
}

.produtos-titulo-home{
    font-weight: 700;
    font-size: 2em;
    color: #464646;
}

.produtos-subtitulo{
    font-weight: 700;
    font-size: 1em;
    color: #2A7AE4;
}

.produtos-botao{
    padding: 1em;
    color: #ffffff ;
    background-color: #2A7AE4;
   
    width: 15%;
}

.container-produtos{
   margin-right: 1em;
   width: 16%;
}

.container-produtos-imagem{
    width: 12vw;
}

.container-produtos-texto{
    font-weight: 500;
    font-size: 0.8em;
    color: #464646;
    margin-bottom: 1em;
}

.container-produtos-valor{
    font-weight: 700;
    font-size: 1em;
    color: #464646;
    margin-bottom: 0.5em;
}

.container-produtos-link{
    font-weight: 700;
    font-size: 1em;
    color: #2A7AE4;
}

.container-produtos-lista{
    display: flex;
    justify-content: space-between;
}

.produtos-Consoles, .produtos-starWars{
    margin-bottom: 2em;
}

/*PÁGINA ADICIONAR PRODUTO*/

.adicionar-produto{
    background-color: #E5E5E5;
    padding: 2em;

  
}

.adicionar-produto-container{
    width: 50%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.adicionar-produto-titulo{
    font-size: 2em;
    font-weight: 700;
    color: #464646;
    margin-bottom: 0.5em;
}

.adicionar-produto-input{
    width: 80%;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom: 10px;
    border: none;
    padding: 1em;
}

.adicionar-produto-container textarea{
    width: 80%;
    
    border: none;
    padding: 0 10px;
  
}

.adicionar-produto-botao{
    margin-top: 10px;
    background-color: #2A7AE4;
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
    border: none;
}

@media screen and (max-width: 768px){
    .adicionar-produto-titulo{
        font-size: 1.8em;
    }

    .adicionar-produto-container{
        width: 100%;
        align-items: flex-start;
    }

    .adicionar-produto-input{
        width: 95%;
    }

    .adicionar-produto-container textarea{
        width: 95%;
    }

    .adicionar-produto-botao{
        width: 100%;
    }

    .produtos-botao{
     font-size: 0.8em;
    }
}

@media screen and (max-width: 425px){
    .container-produtos-imagem{
        width: 40vw;
    }   
        
    .container-produtos{
       width: 40vw;
    }

    .container-produtos-lista{
        width: 100%;
        flex-wrap: wrap;
    }

    .produtos-titulo-home{
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }

    .produtos-botao{
        width: 50%;
    }

    .produtos-topo-titulo{
        flex-direction: column;
        align-items: flex-start;
    }
  
}