.banner{
    position: relative;
}

.banner-imagem{
    width: 100%;
    height: 50vw;
    max-height: 22rem;
    background-image: url(../IMG/banner-image.png);
    background-size: cover;

    display: flex;
    align-items: flex-end; 
}

.banner-container{
    padding: 3em;
}

.banner-titulo{
    color: white;
    font-size: 3.5em;
    padding-bottom: 1em;
    font-weight: 700;
}

.banner-subtitulo{
    color:white;
    font-size: 1.5em;
    padding-bottom: 1em;
}

.banner-botao{
 padding: 1em;
 color: #ffffff ;
 background-color: #2A7AE4;

 width: 25%; 
}

@media screen and (max-width: 425px){
    
    .banner-titulo{
        font-size: 1.2em;
       
        padding-bottom: 0.5em;
    }

    .banner-subtitulo{
        font-size: 0.8em;
    }

    .banner-botao{
        width: 50%;
        padding: 0.8em;
    }

    
}


