:root{
    font-family: 'Raleway', sans-serif;
}

.produtos-topo{
    display: flex;
    flex-direction: column;
   
    width: 1136px;
    height: 306px;

    margin: 50px auto;
}

.produtos-topo-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    text-align: center;
}

.produtos-titulo{
    font-weight: 700;
    color: #464646;
}

.produtos-titulo-home{
    font-weight: 700;
    font-size: 32px;
    color: #464646;
}

.produtos-subtitulo{
    font-weight: 700;
    font-size: 16px;
    color: #2A7AE4;
}

.produtos-botao{
    padding: 16px;
    color: #ffffff ;
    background-color: #2A7AE4;
   
    width: 164px;
}

.container-produtos{
    width: 176px;
    height: 252px;
}

.container-produtos-imagem{
    width: 176px;
    height: 174px;
}

.container-produtos-texto{
    font-weight: 500;
    font-size: 14px;
    color: #464646;
    margin-bottom: 10px;
}

.container-produtos-valor{
    font-weight: 700;
    font-size: 16px;
    color: #464646;
    margin-bottom: 10px;
}

.container-produtos-link{
    font-weight: 700;
    font-size: 16px;
    color: #2A7AE4;
}

.container-produtos-lista{
    display: flex;
    justify-content: space-between;
}

.produtos-Consoles, .produtos-starWars{
    margin-bottom: 30px;
}

/*PÁGINA ADICIONAR PRODUTO*/

.adicionar-produto{
    background-color: #E5E5E5;
}

.adicionar-produto-container{
    width: 559px;
    height: 491px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.adicionar-produto-titulo{
    font-size: 32px;
    font-weight: 700;
    color: #464646;
    margin-bottom: 10px;
}

.adicionar-produto-input{
    height: 56px;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom: 10px;
    border: none;
}

.adicionar-produto-container textarea{
    border: none;
    padding: 0 10px;
  
}

.adicionar-produto-botao{
    margin-top: 10px;
    background-color: #2A7AE4;
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
    border: none;
}

@media screen and (max-width: 768px){
    .container-produtos-lista{
        width: 704px;
        height: 252px;
    }

    .container-produtos{
        width: 164px;
        height: 252px;
    }

    .container-produtos-imagem{
        width: 164px;
        height: 174px;
    }
}