footer{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.rodape{
    display: flex;
    align-items: center;

    padding: 2em 0;
    width: 100%;

    margin: 0 auto;

    font-family: 'Raleway', sans-serif;
    background-color: #EAF2FD;
}

.rodape-container{
    display: flex;
    justify-content: space-around;
    width: 80%;

    margin: 0 auto;
}

.rodape-links{
    width: 15em;

    display: flex;
    flex-direction: column;  
}

.logo-alura{
    width: 176px;
    height: 50px;
}

.rodape-fale-conosco{
    display: flex;
    flex-direction: column;    
}

.rodape-links-texto{
    line-height: 40px;
    color: #464646;
}

.rodape-fale-conosco-input{
    width: 100%;
    padding: 1.5em;
    border-radius: 4px;
    margin-bottom: 15px;
    border: none;

}

.rodape-fale-conosco-text{
    width: 100%;
    padding: 1.5em ;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
}

.rodape-fale-conosco-botao{
    width: 165px;
    height: 51px;

    padding: 16px;

    background-color: #2A7AE4;
    color: white;
}

.rodape-fale-conosco-titulo{
    color: #464646;
    font-weight: 700;
    margin-bottom: 10px;
}

.assinatura{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assinatura-texto{
    margin: 0;
    color: #464646;
}

@media screen and (max-width: 370px){
    .rodape-container{
        flex-direction: column;
        align-items: center;
    }

    .rodape-links{
        text-align: center;
    }

    .logo-alura{
        text-align: center;
    }

    .rodape-fale-conosco{
        align-items: center;
    }

    .rodape-fale-conosco-input{
        width: 90%;
    }

    .rodape-fale-conosco-text{
        width: 90%;
    }
}