.cabecalho{
    margin: 20px auto;
    width: 1200px;
    height: 115px;

}

.cabecalho-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-Logo{
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 32px 0px;
}


.cabecalho-pesquisa{
    margin-left: 20px;
    padding:8px 16px;
    width: 393px;
    
    background: #F5F5F5;
    border-radius: 20px;
}

.cabecalho-pesquisa::placeholder{
    background: url("../IMG/lupa.png") no-repeat;
    background-position: 99% 50%;
}

.login{
    width: 182px;
    height: 51px;

    border: 1px solid #2A7AE4 ;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #2A7AE4;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 32px;
    gap: 16px;
    background-image: url(../IMG/banner-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;

    
    width: 1440px;
    height: 352px;    
}

.banner-container{
    width: 1136px;
    height: 170px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.banner-titulo{
    color: white;
    font-size: 52px;
}

.banner-subtitulo{
    color:white;
    font-size: 22px;
}

.banner-botao{
    width: 130px;
    height: 51px;

    padding: 16px;
    background-color: #2A7AE4;
    color: white;
}
